<ion-view >
    <ion-content class="padding">
      <h1 style="text-align: center">Congrats, Your Order has been send</h1>
      <ion-item>
        <h1 style="text-align: center;font-size: 20px;">Order recap</h1>
        <ion-list>
          <ion-item ng-repeat="item in order">
            <h2 style="font-size: 13px;">{{item.products.name}}</h2>
            <span style="font-size: 9px;">Price per g : {{item.products.price}}€</span>
            <br/>
            <span style="font-size: 9px;">Quantity ordered : {{item.quantity}}g</span>
            <br/>
            <span style="font-size: 9px;">Price : {{getProductTotalPrice(item)}}€</span>
          </ion-item>
        </ion-list>
        <br/>
        <span>Total price : {{getOrderTotalPrice(order)}}€</span>
      </ion-item>
    </ion-content>
  </ion-view>
