<ion-view view-title="My Account">
  <ion-content>

    <form id="profil" >
    <ion-list>
      <ion-item class="item-input">
        <ion-label>Username</ion-label>
        <ion-input type="text" ng-disabled="{{profilEdit.status}}" ng-model="profil.name">{{profilEdit.status}} {{currUser.name}}</ion-input>
      </ion-item>
      <ion-item class="item-input">
        <ion-label>Birthday date</ion-label>
        <ion-input type="text" ng-disabled="{{profilEdit.status}}" ng-model="profil.bod">{{currUser.BOD | date : 'dd/MM/yyyy'}}</ion-input>
      </ion-item>
      <ion-item class="item-input">
        <ion-label>Email adress</ion-label>
        <ion-input type="email" ng-disabled="{{profilEdit.status}}" ng-model="profil.mail">{{currUser.email}}</ion-input>
      </ion-item>
      <ion-item class="item-input">
        <ion-label>Newsletter subscription</ion-label>
        <ion-checkbox  ng-disabled="{{profilEdit.status}}" ng-checked="{{currUser.subscribe}}" ng-model="profil.sub"></ion-checkbox>
      </ion-item>
    </ion-list>

  <button class="button button-balanced button-block" ng-click="editclick()">Edit profile</button>
</form>
  <button class="button button-assertive button-block" ng-click="logout()">Log out</button>

  </ion-content>
</ion-view>
