<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- form 1 Tab -->
  <ion-tab title="Form 1" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/form1">
    <ion-nav-view name="tab-form1"></ion-nav-view>
  </ion-tab>

  <!-- form 2  Tab -->
  <ion-tab title="Form 2" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/form2">
    <ion-nav-view name="tab-form2"></ion-nav-view>
  </ion-tab>

  <!-- form 3  Tab -->
  <ion-tab title="Form 3" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab/form3">
    <ion-nav-view name="tab-form3"></ion-nav-view>
  </ion-tab>


</ion-tabs>
